#one-body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
#one-content {
    text-align: center;
    padding-top: 20px;
}
#two-content {
    text-align: center;
    padding-top: 20px;
    display: flex;
}
.two-text-info {
    width: 30em;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1.5em;
}
#three-content {
    text-align: center;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}